.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    margin-bottom: 30px;
}

input[type="time"] {
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
}

.time-placeholder {
    margin-left: 80px;
}

.get-schedule-btn {
    float: right;
    margin-bottom: 50px;
}

.schedule-table {
    margin-top: 100px;
}

body {
    font-family: Arial, sans-serif;
}

label {
    font-size: 16px;
    font-weight: bold;
}

.popup {
    visibility: hidden;
    width: 250px;
    background-color: #f5f5f5;
    color: #292929;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    font-weight: bold;
}

.popup.show {
    visibility: visible;
    opacity: 1;
}

